<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hashtags</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>
<body>
<div class="container">
    <header class="header">
        <nav class="header__nav">
            <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
            <div class="header__nav-item"><a href="/hashtags/" class="header__nav-link">Hashtags</a></div>
        </nav>
    </header>
</div>
</body>
<body>
<ul class="centerThis">
<!--    this shit took me forever to do. NEVER FORGET.-->
    <li th:each="hashtag:${hashtags}">
        <a th:href="${hashtag.id}" th:text="${hashtag.name}"></a>

<!--        <a th:href="'/hashtags/'+${hashtag.id}" th:text="${hashtag.name}"></a>-->
    </li>
</ul>

<!--<tr th:each="hashtag: ${hashtag}">-->
<!--    <td th:text="${hashtag.name)"/>-->
<!--</tr>-->


<!--<ul>-->
<!--    <li class="button" th:each="hashtag:${hashtags}">-->
<!--        <a th:href="'/hashtags/'+${hashtag.id}" th:text="${hashtag.name}"></a>-->
<!--    </li>-->
<!--</ul>-->

<!--<nav class="main-content__nav posts__nav">-->
<!--    <div th:each="hashtag: ${name.hashtag}">-->
<!--        <a th:text="${hashtag.name}"-->
<!--           class="posts__nav-link"></a>-->
<!--    </div>-->
<!--</nav>-->

<!--<ul>-->
<!--    <li th:each="hashtag:${hashtags}">-->
<!--        <a th:href="'/hashtags/'+${hashtag.id}" th:text="${hashtag}">list</a>-->
<!--    </li>-->
<!--</ul>-->


</body>

</html>